target/
bin/
build/
!mvnw*
!gradlew*
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
*.swp
*.patch
.DS_Store
Thumbs.db
*.log
logs/
*.tmp
*.temp
application-local.properties
application-dev.properties
*.yml.local
jacoco.exec
*.exec
.mvn/wrapper/maven-wrapper.jar
config/application-override.properties
*.h2.db
*.mv.db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.metadata/